@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
    --cor-fundo-principal: #D9BCA3;
    --cor-header-principal: #038C8C;

    --cor-nav: #63BFAE;
    --cor-text-N-nav-hover: #D9BF3D;

    --cor-texto: #0D0D0D;
    --fonte-principal: 'Yeseva One', cursive;
}

header {
    background-color: var(--cor-header-principal);
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    align-items: center;
    justify-items: center;
}


.logo img {
    width: 120px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
}


/*Navegação*/
nav {
    background-color: var(--cor-nav);
}

nav a {
    color: var(--cor-texto);
    margin-left: none;
    margin-right: 10px;
    font-size: 20px;
    padding: 5px;
}

nav a:hover {
    color: var(--cor-text-N-nav-hover);
    background-color: var(--cor-header-principal);
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 3px 2px #0D0D0D;
}

/*Corpo do Jornal*/
.corpo {
    background-color: var(--cor-fundo-principal);
}

.destaque {
    display: grid;
    grid-template-columns: 250px 1fr;
    border: 1px solid black;
}

.texto-destaque {
    margin-left: 15px;
    font-family: var(--fonte-principal);
    color: var(--cor-texto);
    font-size: 25px;
    display: inline;
    margin: auto;
}

.destaque img {
    padding: 15px;
    width: 75%;
}

.texto-destaque:hover {
    text-decoration: underline;
}

.sessao-principal {
    display: grid;
    grid-template-rows: 100px 1fr;
    padding: 10px;
    gap: 10px;
}

section .noticia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    align-items: center;
}

section img {
    width: 95%;
    padding: 10px;
    display: block;
    align-items: center;
}

section p {
    font-family: var(--fonte-principal);
    top: -80px;
    font-size: 30px;
    background-color: var(--cor-fundo-principal);
    align-items: center;
}


aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

aside img {
    width: 200px;
    margin: auto;
    display: block;
}

aside img:hover {
    border: 1px double rgba(0, 0, 0, 0.507);
}

/*Media Screen: 800px*/
@media (max-width: 800px) {

    /*Cabeçalho*/
    header {
        grid-template-columns: 120px 1fr 120px; 
    }

    header h1 {
        font-size: 25px;
    }

    .logo img {
        width: 90px;
    }

    nav a {
        font-size: 15px;
    }

    nav a:hover {
        font-size: 20px
    }

    /*Corpo do Jornal*/
    aside img {
        width: 150px;
    }
    section p {
        top: -60px;
        font-size: 20px;
    }
}

/*Media Screen 510px*/
@media (max-width: 510px) {
    header {
        grid-template-columns: 1fr;
        align-items: center;
    }

    header h1 {
        font-size: 20px;
    }

    .logo img {
        display: none;
    }

     nav a {
        font-size: 15px;
        display: block;
    }

    nav a:hover {
        font-size: 17px
    }

    .destaque img {
        width: 75%;
    }

    .destaque {
        display: grid;
        grid-template-columns: 100px 1fr;
        border: 1px solid black;
    }

    .texto-destaque {
        font-size: 20px
        
    }
    /*Corpo do Jornal*/

    .sessao-principal {
        grid-template-columns: 1fr;
    }

    aside img {
        width: 50%;
    }

    section p {
        font-size: 15px;
        top: -50px
    }
}