@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
    --cor-fundo-principal: #F2E9D8;
    --cor-header-principal: #594442;

    --cor-nav: #D98162;
    --cor-text-N-nav-hover: #F2AD85;

    --cor-texto: #0D0D0D;
    --fonte-principal: 'Yeseva One', cursive;
}

/* Cabeçalho */

header {
    background-color: var(--cor-header-principal);
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    justify-items: center;
}

.logo img {
    width: 120px;
}

a {
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
}


/*Navegação*/
nav {
    background-color: var(--cor-nav);
}

nav a {
    color: var(--cor-texto);
    margin-left: none;
    margin-right: 10px;
    font-size: 20px;
    padding: 5px;
}

nav a:hover {
    color: var(--cor-text-N-nav-hover);
    background-color: var(--cor-header-principal);
    font-size: 25px;
}


/*Media Screen: 800px*/
@media (max-width: 800px) {

    header {
        grid-template-columns: 120px 1fr;
    }

    header h1 {
        font-size: 15px;
    }

    .logo img {
        width: 90px;
    }

    nav a {
        font-size: 15px;
    }

    nav a:hover {
        font-size: 20px
    }

}

/*Media Screen 450px*/
@media (max-width: 450px) {
    header {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 20px;
    }

    .logo img {
        display: none;
    }

    nav a {
        font-size: 8px;
    }

    nav a:hover {
        font-size: 10px
    }
}